* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p0 {
    padding: 0;
}

.pr10 {
    padding-left: 0;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.br0 {
    border-radius: 0;
}

.top10 {
    margin-top: 10px;
}

.top20 {
    margin-top: 20px;
}

footer {
    height: 120px;
    color: white;
    background-color: #198754;
    padding-top: 20px;
}

footer .social-icon {
    font-size: 2rem;
    margin-left: 20px;
    color: aliceblue;
}

/* index */
.content-heading {
    padding: 20px;
    color: #198754;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

.side_bar_heading {
    color: #198754;
    font-family: 'Oswald', sans-serif;
}

.page_number {
    border: solid #dcdcdc 1px;
    padding: 5px 13px;
    text-align: center;
    vertical-align: middle;
    color: #198754;
    font-family: 'Oswald', sans-serif;
}

/* volunteer */
.volunteer_heading {
    padding: 20px;
    color: #198754;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.banner {
    width: 100%;
}

.map {
    width: 100%;
}

.form_heading {
    padding: 20px;
    text-align: center;
    color: #198754;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.p30 {
    padding: 30px;
}

.side_bar_heading {
    color: #198754;
    font-family: 'Oswald', sans-serif;
}

.submit_btn {
    font-family: 'Oswald', sans-serif;
}

a {
    color: #198754;
}